<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <meta charset="UTF-8" />
    <title>Two Factor Authorization Demo</title>
</head>
<body>
<div layout:fragment="content" class="container text-center">
    <h1>Hello!</h1>
    <p class="lead">
        Click this link to try and access a <em>secret page</em>: <a href="/secret">Secret Page</a>
    </p>
</div>
</body>
</html>